@media screen and (min-width: 768px) and (max-width: 1199px) {
  .activity-list {
    display: flex;
    flex-wrap: wrap;
    gap: var(--card-set-gap);

    .activity-title {
      text-align: left;
    }
  }

  .activity-list-item {
    flex-basis: calc((100% - 4 * var(--card-set-gap)) / 2);
    min-width: 354px;
  }
}

.activity-title {
  margin-bottom: 10px;
  @include font(14px, 700, 16px);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-text-color);
  text-align: center;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
}

.activity-text {
  min-width: 270px;

  @include font(14px, 400, 24px);
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

@media screen and (max-width: 1199px) {
  .activity-photo {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .activity-list {
    display: flex;
  }

  .activity-list-item {
    flex-basis: calc(100% - 120px) / 4;

    &:not(:last-child) {
      margin-right: 30px;
    }
  }

  .activity-photo {
    padding-bottom: 94px;
  }

  .activity-photo-title {
    margin-bottom: 50px;
    @include font(36px, 700, 42px);
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
  }

  .activity-photo-list {
    display: flex;
    justify-content: space-between;
  }

  .activity-photo-list-item {
    flex-basis: calc(100% - 90px) / 3;
  }

  .image-onlay {
    position: relative;
    overflow: auto;
  }

  .onlay {
    position: absolute;
    width: 100%;
    height: 70px;
    left: 0;
    bottom: 0px;
    background: rgba(47, 48, 58, 0.8);
    padding: 27px 82px;
    font-family: 'Roboto';
    font-style: normal;
    @include font(14px, 700, 16px);
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-white-color);
  }
}

.activity-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  width: 100%;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
}

.activity-icon-img {
  width: 70px;
  height: 70px;
}
