.clients-list {
  display: flex;
  flex-wrap: wrap;
  gap: var(--card-set-gap);
}

.clients-list__item {
  flex-basis: calc((100% - 4 * var(--card-set-gap)) / 2);
}

@media screen and (min-width: 768px) {
  .clients-list__item {
    flex-basis: calc((100% - 6 * var(--card-set-gap)) / 3);
  }
}

@media screen and (min-width: 1200px) {
  .clients-list__item {
    flex-basis: calc((100% - 12 * var(--card-set-gap)) / 6);
  }
}

.clients-title {
  margin-bottom: 30px;
  @include font(28px, 700, 33px);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.clients-list__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  // padding: auto;
  width: 210px;
  height: 93px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-text-color);
    border: 1px solid var(--accent-text-color);
  }
}

@media screen and (min-width: 768px) {
  .clients-list__icon {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-list__icon {
    width: 170px;
  }

  .clients-title {
    @include font(36px, 700, 42px);
  }
}

.clients-list__icon-img {
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .clients-list__icon:hover &,
  .clients-list__icon:focus & {
    fill: var(--accent-text-color);
  }
}
