.hero {
  top: 80px;
  max-width: 1600px;
  
  padding-top: 118px;
  padding-bottom: 118px;

  margin-left: auto;
  margin-right: auto;
  background: var(--dark-bg-color);

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  //   Mobile screen

  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero/hero@1x_small.jpg);

  @media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/hero@2x_small.jpg);
  }

  //   Tablet screen

  @media screen and (min-width: 768px) {

    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/hero@1x_medium.jpg);

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero/hero@2x_medium.jpg);
    }
  }

  //   Desktop screen

  @media screen and (min-width:1200px) {
padding-top: 200px;
  padding-bottom: 200px;

    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/hero@1x_large.jpg);

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero/hero@2x_large.jpg);
    }
  }
}