@media screen and(max-width: 767px) {

    .contact-mail,
    .contact-phone {
        display: none;
    }
}

@media screen and(min-width: 768px) {
    // .contact-mail.link {
    //     // margin-right: 0;
    // }

    .contact-mail {
        margin-bottom: 10px;
        margin-right: 0;
    }

    .contact-mail,
    .contact-phone {

        display: flex;
        align-items: center;

        @include font(12px, 500, 14px);
        letter-spacing: 0.02em;
        color: var(--secondary-text-color);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            color: var(--accent-text-color);
        }
    }

}

@media screen and (min-width: 1200px) {

    .contact-mail {
        margin-bottom: 0;
        margin-right: 50px;
    }
    .contact-mail,
    .contact-phone {
        @include font(14px, 500, 16px);
        display: inline-flex;
        
    }
}

.contact-mail__icon,
.contact-phone__icon {
    margin-right: 10px;
    fill: currentColor;
}

// .contact-mail {
//     // margin-left: auto;
//     // margin-right: 0;
// }