.mobile-menu-btn {
  line-height: 0;
  background-color: transparent;
  border: none;
  &:hover,
  &:focus {
    fill: var(--accent-text-color);
  }
}

@media screen and (min-width: 768px) {
  .mobile-menu-btn {
    display: none;
  }

  .mobile-menu {
    display: none;
  }
}

.mobile-menu__close-btn {
  position: absolute;
  background-color: transparent;
  top: 10px;
  right: 0;
  right: 15px;
  border: none;
  padding: 0;
  line-height: 0;

  &:hover,
  &:focus {
    fill: var(--accent-text-color);
  }
}

.mobile-menu__close-btn:hover {
  color: var(--accent-text-color);
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 777;
  background: var(--primary-white-color);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08),
    0px 1px 3px rgba(0, 0, 0, 0.16);

  width: 100vw;
  height: 100vh;
  overflow: auto;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateX(0);
}

.mobile-menu__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 450px;
  height: 100%;
  padding: 48px 40px;
  margin-left: auto;
}

.mobile-menu__list-item {
  margin-bottom: 32px;
}

.mobile-menu__item-link {
  color: inherit;

  @include font(40px, 500, 47px);
  letter-spacing: 0.02em;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--accent-text-color);
  }
}

.mobile-menu__phone {
  @include font(34px, 500, 40px);
  letter-spacing: 0.02em;
  color: var(--accent-text-color);
}

.mobile-menu__mail {
  @include font(24px, 500, 28px);
  letter-spacing: 0.02em;
  color: #757575;
}

.mobile-menu-social {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 32px;
}

.mobile-menu__social-list:not(:last-child) {
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-menu__social-link {
  @include font(18px, 500, 22px);
  letter-spacing: 0.02em;
  color: var(--accent-text-color);
}
