.modal-btn {
  margin: auto;
  margin-top: 30px;
  padding: 10px 28px;

  background-color: var(--accent-text-color);
  color: var(--primary-white-color);

  min-width: 200px;
  height: 50px;
  border: none;
  border-radius: 4px;

  @include font(16px, 700, 30px);

  display: block;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #188ce8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
