.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 101%;

  background-color: rgba(33, 150, 243, 0.9);
  font-family: 'Roboto';
  font-style: normal;
  @include font(18px, 400, 28px);

  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 63px 24px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: auto;

  .portfolio-list-item:hover &,
  .portfolio-list-item:focus & {
    transform: translateY(0%);
  }
}
