@media screen and (max-width: 767px) {
  .portfolio-list {
    flex-direction: column;
  }
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  // flex-direction: column;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}

.portfolio-list-item {
  flex-basis: calc(100% / 2 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-list-item {
    flex-basis: calc(100% / 3 - var(--card-set-gap));
  }
}

.card-content {
  padding: 20px 24px;
  border-top: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.card-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-list-title {
  margin-bottom: 4px;
  @include font(18px, 700, 36px);

  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .portfolio-list-title {
    letter-spacing: 0.03em;
  }
}

.portfolio-list-text {
  @include font(16px, 400, 30px);

  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
