:root {
    --card-set-gap: 30px;
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --accent-text-color: #2196f3;
    --primary-white-color: #ffffff;
    --primary-bg-color: #ffffff;
    --secondary-bg-color: #f5f4fa;
    --dark-bg-color: #2f303a;
    --primary-font-family: 'Roboto', sans-serif;
}